{
  "ModemAddress": "autodetect",
  "IgnitePassword": "password",
  "Iperf3Enabled": false,
  "Iperf3Server": "speedtest.mtl2.ca.leaseweb.net",
  "Iperf3Port": "5201",
  "Iperf3Streams": 4,
  "Iperf3UploadLimit": 150,
  "Iperf3DownloadLimit": 1500,
  "Silent": false,
  "NoLogs": false
}
