{
  "ModemAddress": "autodetect",
  "IgnitePassword": "password",
  "SpeedTestEnabled": true,
  "Silent": false,
  "NoLogs": false,
  "EnableCloud": false,
  "CloudHost": "fillme",
  "CloudPort": "fillme",
  "CloudAPIKey": ""
}