{
  "ModemAddress": "autodetect",
  "IgnitePassword": "password",
  "SpeedTestEnabled": true,
  "SpeedTestInterval": 1,
  "AutoUpdateEnabled": true,
  "Silent": false,
  "NoLogs": false,
  "LocalCleanupEnabled": true,
  "LocalRetentionDays": 90,
  "EnableCloud": false,
  "CloudHost": "fillme",
  "CloudPort": "fillme",
  "CloudAPIKey": ""
}